@use "../global";

#navbar {
    display: inline;
    width: 100vw;
    position: fixed;
    z-index: 10000;
    background-color: #fff;

    .nav__list {
        display: flex;
        padding: 10px 50px;
        box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.10);
    }

    .header__logo {
        img {
            width: 190px;
            height: 50px;
            margin-left: 100px;
        }
    }

    .catalog {
        display: flex;
        width: 140px;
        height: 45px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        background: #70C05B;
        margin-left: 50px;

        button {
            cursor: pointer;
            background: transparent;
        }

        a {
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            color: white;
        }

    }

    .hidden {
        display: none;
    }

    .categories-menu {
        position: absolute;
        top: 75px;
    }

    .containerr {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1440px;
        padding: 40px 116px;
        align-items: flex-start;
        gap: 40px;
        background: #aaaaaa;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);

        .fremm1 {
            display: flex;
            width: 272px;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            flex-shrink: 0;

            .frem__a {
                align-self: stretch;
                color: #414141;
                font-family: Rubik;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                transition: 0.4s;
            }

            .frem__a:hover {
                color: #F63;
            }
        }
    }

    .InputContainer {
        width: 300px;
        height: 50px;
        display: flex;
        margin: 0px 10px;
        margin-left: 50px;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, rgb(227, 213, 255), rgb(255, 231, 231));
        border-radius: 30px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
    }

    .input {
        width: 295px;
        height: 45px;
        border: none;
        outline: none;
        caret-color: rgb(255, 81, 0);
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        padding-left: 15px;
        letter-spacing: 0.8px;
        color: rgb(19, 19, 19);
        font-size: 13.4px;
    }


    .icons {
        display: flex;
        gap: 28px;
        margin-left: 40px;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7px;

            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                text-align: center;
                color: #414141;
            }
        }
    }

    .user {
        display: flex;
        padding: 8px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        margin-left: 44px;

        h2 {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }

    .icon {
        cursor: pointer;
    }
}