* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1340px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}


.header__start {
    margin-top: 75px;
    width: 100%;
}


@media (max-width: 900px) {
    .header__start {
        display: none;
    }
}

.action {
    margin-top: 50px;

    .action__title {
        display: flex;
        align-items: flex-end;
        gap: 40px;
        align-self: stretch;

        .action__h2 {
            flex: 1 0 0;
            color: #414141;
            font-family: Rubik;
            padding-left: 25px;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }

        .action__btn {
            display: flex;
            width: 168px;
            padding: 8px;
            margin-right: 50px;
            margin-bottom: 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 4px;
            border: 0px solid var(--Grayscale-Hard, #8F8F8F);

            .action__a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1 0 0;
                align-self: stretch;
                color: #606060;
                text-align: center;
                font-family: Rubik;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }

    .action__card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 50px 20px;
        padding: 0px 15px;

        .card {
            display: flex;
            width: 272px;
            height: 379px;
            padding: .8em;
            background: #f5f5f5;
            position: relative;
            overflow: visible;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;
            border-radius: 4px;
            background: var(--Main-Surface, #FFF);
        }

        .card-img {
            background-color: #ffffff;
            height: 40%;
            width: 100%;
            border-radius: .5rem;
            transition: .3s ease;
            margin-bottom: 20px;

            .img__cart {
                display: flex;
                width: 252px;
                height: 160px;
                flex-shrink: 0;
                background: url(<path-to-image>), rgb(255, 255, 255) 50% / cover no-repeat;
            }

            .img__btn {
                display: inline;
                margin-top: -20px;
                padding: 4px 8px;
                align-items: flex-start;
                gap: 10px;
                border-radius: 4px;
                background: var(--Main-Primary, #F63);
                z-index: 100;
            }
        }



        .card-info {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            align-self: stretch;
            margin: 20px 0px;

            .info__left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .left__h3 {
                    font-family: Rubik;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                }

                .left__p {
                    color: var(--Grayscale-Light, #BFBFBF);
                    font-family: Rubik;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                }
            }

            .info__right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .right__h3 {
                    color: var(--Grayscale-Hardest, #606060);
                    font-family: Rubik;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                }

                .right__p {
                    color: var(--Grayscale-Light, #BFBFBF);
                    font-family: Rubik;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                }
            }
        }

        .card__text {
            align-self: stretch;
            width: 256px;
            height: 48px;
            margin-top: -15px;
            color: #414141;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }

        svg {
            width: 20px;
            height: 20px;
        }

        .card-footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            border-top: 1px solid #ddd;
        }

        .text-title {
            font-weight: 900;
            font-size: 1.2em;
            line-height: 1.5;
        }

        .text-body {
            font-size: .9em;
            padding-bottom: 10px;
        }

        .card-button {
            border: 1px solid #252525;
            display: flex;
            padding: .3em;
            cursor: pointer;
            border-radius: 50px;
            transition: .3s ease-in-out;
        }

        .card-img:hover {
            transform: translateY(-25%);
            box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 10px 16px 1px;
        }

        .card-button:hover {
            border: 1px solid #ffcaa6;
            background-color: #ffcaa6;
        }
    }
}

.rating:not(:checked)>input {
    position: absolute;
    appearance: none;
}

.rating:not(:checked)>label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
}

.rating:not(:checked)>label:before {
    content: '★';
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #e58e09;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #ff9e0b;
}

.rating>input:checked~label {
    color: #ffa723;
}

.newitems {
    margin-top: 50px;

    .newitems__title {
        display: flex;
        align-items: flex-end;
        gap: 40px;
        align-self: stretch;

        .newitems__h2 {
            flex: 1 0 0;
            color: #414141;
            font-family: Rubik;
            padding-left: 25px;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }

        .newitems__btn {
            display: flex;
            width: 168px;
            padding: 8px;
            margin-right: 50px;
            margin-bottom: 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 4px;
            border: 0px solid var(--Grayscale-Hard, #8F8F8F);

            .newitems__a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1 0 0;
                align-self: stretch;
                color: #606060;
                text-align: center;
                font-family: Rubik;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }
}

.newitems__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 50px 25px;
    padding: 0px 20px;

    .card__1 {
        width: 272px;
        height: 379px;
        padding: .8em;
        position: relative;
        overflow: visible;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
        border-radius: 4px;
        background: var(--Main-Surface, #FFF);

        .card__1__img {
            display: block;
            width: 265px;
            height: 160px;
            padding-top: -30px;
            margin-left: -12px;
            flex-shrink: 0;
            background: url(<path-to-image>), rgb(255, 255, 255) 50% / contain no-repeat;
        }
    }

    .common__text {
        display: block;
        margin: 10px;
        height: 45px;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;

        .common__h3 {
            margin-top: 10px;
            color: var(--Main-onSurface, #414141);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }

        .common__p {
            align-self: stretch;
            color: var(--Main-onSurface, #414141);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }
}

.common__btn {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    flex: 1 0 0;
    border-radius: 10px;
    border: 1px solid #3eb124;
    background: var(--Main-Surface, #ffffff);
    transition: 0.5s;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);

    .common__a {
        margin: 5px 55px;
        padding: 10px;
        align-self: stretch;
        border-radius: 4px;
    }
}

.common__btn:hover {
    background: var(--Main-Primary, #F63);
}


.card__1::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 282px;
    height: 389px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__1::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading__1 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.card__1 p:not(.heading) {
    font-size: 14px;
}

.card__1 p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.card__1:hover::after {
    filter: blur(30px);
}

.card__1:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.Purchased {
    margin-top: 50px;

    .Purchased__title {
        display: flex;
        align-items: flex-end;
        gap: 40px;
        align-self: stretch;

        .Purchased__h2 {
            flex: 1 0 0;
            color: #414141;
            font-family: Rubik;
            padding-left: 25px;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }

        .Purchased__btn {
            display: flex;
            width: 168px;
            padding: 8px;
            margin-right: 50px;
            margin-bottom: 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 4px;
            border: 0px solid var(--Grayscale-Hard, #8F8F8F);

            .Purchased__a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1 0 0;
                align-self: stretch;
                color: #606060;
                text-align: center;
                font-family: Rubik;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }
}

.Purchased__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 50px 25px;
    padding: 0px 20px;

    .card__2 {
        width: 272px;
        height: 379px;
        padding: .8em;
        position: relative;
        overflow: visible;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
        border-radius: 4px;
        background: var(--Main-Surface, #FFF);

        .card__2__img {
            display: block;
            width: 265px;
            height: 160px;
            padding-top: -30px;
            margin-left: -12px;
            flex-shrink: 0;
            background: url(<path-to-image>), rgb(255, 255, 255) 50% / contain no-repeat;
        }
    }

    .commonn__text {
        display: block;
        margin: 10px;
        height: 45px;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;

        .commonn__h3 {
            margin-top: 10px;
            color: var(--Main-onSurface, #414141);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }

        .commonn__p {
            align-self: stretch;
            color: var(--Main-onSurface, #414141);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }
}

.commonn__btn {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    flex: 1 0 0;
    border-radius: 10px;
    border: 1px solid #3eb124;
    background: var(--Main-Surface, #ffffff);
    transition: 0.5s;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);

    .commonn__a {
        margin: 5px 55px;
        padding: 10px;
        align-self: stretch;
        border-radius: 4px;
    }
}

.commonn__btn:hover {
    background: var(--Main-Primary, #F63);
}


.card__2::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 282px;
    height: 389px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__2::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading__2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.card__2 p:not(.heading) {
    font-size: 14px;
}

.card__2 p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.card__2:hover::after {
    filter: blur(30px);
}

.card__2:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}


.Special {
    margin-top: 50px;
    margin-bottom: 15px;

    .Special__title {
        display: flex;
        align-items: flex-end;
        gap: 40px;
        align-self: stretch;

        .Special__h2 {
            flex: 1 0 0;
            color: #414141;
            font-family: Rubik;
            padding-left: 25px;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }
    }
}

.banner {
    display: flex;
    height: 200px;
    margin: 40px 0px;
    align-items: flex-start;
    gap: 40px;
}

.banner__left {
    display: flex;
    gap: 20px;
    width: 584px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--Main-PrimaryMuted, #FCD5BA);
    box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.50);

    .banner__content {
        display: block;
        width: 258px;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        margin: 25px 0px 0px 30px;

        .banner__h1 {
            align-self: stretch;
            color: var(--Main-onSurface, #414141);
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }

        .banner__p {
            align-self: stretch;
            color: var(--Main-onSurface, #414141);
            font-family: Rubik;
            margin-top: 10px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }

    .banner__img {
        width: 206.762px;
        height: 138.159px;
        margin-top: 32px;
        margin-left: 40px;
        padding: 10px;
        transform: rotate(13.866deg);
        border-radius: 10px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        box-shadow: 0px 8px 47px 0px rgba(200, 90, 53, 0.51);
    }
}

.banner__right {
    display: flex;
    gap: 40px;
    width: 584px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--Main-SecondaryMuted, #E5FFDE);

    .bannerr__content {
        display: block;
        width: 258px;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        margin: 25px 0px 0px 30px;

        .bannerr__h1 {
            align-self: stretch;
            color: var(--Main-onSurface, #414141);
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }

        .bannerr__p {
            align-self: stretch;
            color: var(--Main-onSurface, #414141);
            font-family: Rubik;
            margin-top: 10px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }

    .bannerr__img {
        width: 193px;
        height: 186px;
        margin-top: 10px;
        background: url(<path-to-image>), #E5FFDE 50% / cover no-repeat;
    }
}

.stores {
    margin-top: 50px;
    margin-bottom: 15px;

    .stores__title {
        display: flex;
        align-items: flex-end;
        gap: 40px;
        align-self: stretch;

        .stores__h2 {
            flex: 1 0 0;
            color: #414141;
            font-family: Rubik;
            padding-left: 25px;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }
    }
}

.carti {
    display: flex;
    width: 1208px;
    width: 410px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    .carti__btn {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        .carti__1 {
            display: flex;
            margin: 40px 10px 10px 0px;
            width: 86px;
            height: 32px;
            padding: 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border: 1px solid #aaa;
            border-radius: 4px;
            background: var(--Grayscale-Lightest, #F3F2F1);
            transition: 0.5s;
        }

        .carti__1:hover {
            border: 1px solid #aaa;
            border-radius: 4px;
            background-color: #70C05B;
        }
    }

    .map__container {
        width: 1250px;
        height: 354px;
    }
}

.articles {
    margin-top: 300px;
    margin-bottom: 15px;

    .articles__title {
        display: flex;
        align-items: flex-end;
        gap: 40px;
        align-self: stretch;

        .articles__h2 {
            flex: 1 0 0;
            color: #414141;
            font-family: Rubik;
            padding-left: 25px;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }
    }
}

.porsh {
    display: flex;
    gap: 80px;
    height: 420px;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.cardd {
    width: 377px;
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.contentt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
    margin: 0px 20px;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);

    .contentt__img {
        margin-top: -30px;
        flex: 1 0 0;
        align-self: stretch;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }
}

.time {
    margin-left: 50px;
    align-self: stretch;
    color: var(--Grayscale-Hard, #8F8F8F);
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.cardd__h3 {
    align-self: stretch;
    margin-left: 40px;
    color: var(--Main-onSurface, #414141);
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.cardd__p {
    align-self: stretch;
    margin-left: 40px;
    color: var(--Main-onSurface, #414141);
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}



@media (max-width: 900px) {
    .header__logo {
        img {
            width: 100px;
            height: 50px;
            margin-left: 70px;
        }
    }

    .catalog h1 {
        display: none;
    }

    .icons {
        display: none;
    }
}

@media (max-width: 700px) {
    .catalog {
        display: none;
    }

    .icons {
        display: none;
    }
}


@media (max-width: 1000px) {
    .action__card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}



@media (max-width: 700px) {
    .action__card {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        gap: 30px;
    }
}

@media (max-width: 450px) {
    .action__card {
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        gap: 30px;
    }
}


@media (max-width: 1000px) {
    .newitems__card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}



@media (max-width: 700px) {
    .newitems__card {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        gap: 30px;
    }
}

@media (max-width: 450px) {
    .newitems__card {
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        gap: 30px;
    }
}


@media (max-width: 1000px) {
    .Purchased__card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}



@media (max-width: 700px) {
    .Purchased__card {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        gap: 30px;
    }
}

@media (max-width: 450px) {
    .Purchased__card {
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        gap: 30px;
    }
}


@media (max-width: 1000px) {
    .banner {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        width: 100%;
        gap: 40px;
        margin-bottom: 250px;
    }
}

@media (max-width: 1000px) {
    .banner__left {
        width: 100%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;

        .banner__content {
            width: 100%;
        }
    }

    .banner__right {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 600px) {
    .banner {
        display: inline-block;
        height: auto;
        gap: 50px;
    }

    .banner__left {
        display: inline-block;
        height: auto;

        .banner__img {
            margin-bottom: 20px;
        }
    }

    .banner__right {
        display: inline-block;
        margin-top: 50px;
        height: auto;
    }
}

@media (max-width: 405px) {
    .banner {
        display: inline-block;
        height: auto;
        gap: 30px;
    }

    .banner__left {
        display: inline-block;
        height: auto;
    }

    .banner__right {
        display: inline-block;
        margin-top: 50px;
        height: auto;
    }
}

@media (max-width: 800px) {
    .carti__btn {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}

@media (max-width: 600px) {
    .map__container {
        display: none;
    }
}

@media (max-width: 800px) {
    .porsh {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        height: 700px;
        width: 600px;
        gap: 32px;

        .cardd {
            width: 320px;
            height: 450px;
        }
    }
}

@media (max-width: 600px) {
    .porsh {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        height: 1350px;
        width: 300px;
        gap: 32px;
    }
}

@media (max-width: 950px) {
    .jooking {
        display: none;
    }
}